<main class="flex justify-center flex-col">
  <div class="gap-4 my-3 p-4 flex justify-center uppercase">
    <h1 class="text-4xl">Orders</h1>
  </div>
  <div class="flex justify-center p-4 mb-3">
    <label for="create-edit" class="btn btn-active btn-primary btn-wide modal-button rounded-3xl gap-2"
           (click)="changeModalCreate()">
      <span class="text-2xl">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </span>
      Add New Order
    </label>
  </div>
  <div class="flex justify-center w-full mb-8 overflow-x-auto overflow-y-hidden">
    <table class="table w-11/12 p-10 table-zebra">
      <!-- head -->
      <thead>
      <tr>
        <th>ID</th>
        <th>Order Datetime</th>
        <th>Order Number</th>
        <th>Provider Name</th>
        <th>Observation</th>
        <th>Total Value</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- row 1 -->
      <tr *ngFor="let order of orders" class="hover">
        <td>{{order.IdOrder}}</td>
        <td>{{order.DateTime | date:"MMM dd, yyyy hh:mm:ss a"}}</td>
        <td>{{order.OrderNumber}}</td>
        <td>{{order.ProviderName}}</td>
        <td class="truncate max-w-sm">{{order.Observation}}</td>
        <td>
            <span *ngIf="order.TotalValue == null; else totaValue">
              $0
            </span>
          <ng-template #totaValue>
            {{order.TotalValue | currency:'USD'}}
          </ng-template>
        </td>
        <td>
          <div *ngIf="order.Status == '0'" class="badge badge-outline badge-error">Inactive</div>
          <div *ngIf="order.Status == '1'" class="badge badge-outline badge-success">Active</div>
        <th>
          <div class="flex gap-4">
            <div class="tooltip" data-tip="View Products">
              <button class="btn btn-circle btn-secondary text-xl" [routerLink]="['/order', order.IdOrder]">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
            </div>
            <div class="tooltip" data-tip="Edit Order">
              <label for="create-edit" (click)="updateModal(order.IdOrder)" class="btn btn-circle btn-warning text-xl">
                <fa-icon [icon]="faEdit"></fa-icon>
              </label>
            </div>
            <div class="tooltip" data-tip="Delete Order">
              <button class="btn btn-circle btn-error" (click)="deleteOrder(order.IdOrder)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-2xl flex justify-center mb-10" *ngIf="!orders?.length">
    No orders in list
  </div>
</main>
<!--Componente del modal con sus eventos y props-->
<orders-create-edit-modal *ngIf="loaded" (created)="createOrder($event)" (updated)="updateOrder($event)"
                          [modal]="this.modal" [order]="this.order" (closed)="modalEvent()"></orders-create-edit-modal>
